@import '../../../../styles/variables.scss';

.this_day_info {
	position: relative;
	padding: 40px;
	max-width: 750px;
	width: 100%;
	background: var(#{--components-background-default});
	box-shadow: 2px 5px 25px -3px $box-shadow;
	border-radius: $border-radius;
}

.item {
	position: relative;
	display: flex;
	gap: 20px;
	align-items: center;
	margin-bottom: 25px;
	z-index: 1;
	&:last-of-type {
		margin-bottom: 0;
	}
	.indicator {
		width: 38px;
		height: 38px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		box-shadow: 1px 4px 10px -1px $box-shadow;
		border-radius: 50%;
	}
	.indicator_name,
	.indicator_value {
		font-size: 14px;
		color: $base-color;
	}
	.indicator_value {
		color: var(#{--text-color-default});
	}
}

.cloud_img {
	width: 460px;
	height: 202px;
	pointer-events: none;
	object-fit: contain;
	position: absolute;
	opacity: var(#{--cloud-image-opacity-default});
	top: 0;
	right: 0;
}
