@import '../../styles/variables.scss';
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 30px;
	z-index: 200;
}
.wrapper {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo {
	svg {
		width: 65px;
		height: 65px;
		cursor: pointer;
	}
}
.title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	color: $primary-color;
}

.change_theme {
	cursor: pointer;
	padding: 1px 0;
	width: 35px;
	height: 35px;
}
