.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.wrapper {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo {
	svg {
		width: 65px;
		height: 65px;
	}
}
.title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
}

.change_theme {
	padding: 1px 0;
	width: 35px;
	height: 35px;
}
